<html lang="pt">

<head>
    <meta charset="utf-8">
</head>

<body>
    <!-- começa aqui o navbar do bootstrap -->

    <app-header></app-header>


    <!-- aqui começa o conteudo do layout principal conforme tela selecionada -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <!-- aqui começa o rodapé  -->

    <footer class="fixar-rodape">
        
        <p>&copy; Produzido por thalita - Projeto final. &middot; <a href="#"></a> &middot; </p>
      </footer>

    <!-- <footer class="footer">
        <div class="container">
            <span class="text-muted">Produzido por thalita - Projeto final</span>
        </div>
    </footer> -->

</body>

</html>