.content {
    margin: 60px; /* Ajuste conforme a largura do seu menu */

    padding: 20px;
  }

  /* div.body-content{
    margin-bottom: 40px;
  } */
  
  footer.fixar-rodape{
    background-color: #7c838b60 ;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    
  }