<!-- //TODO fazer a tela de inicial -->
<p>Indice de URL para navegação</p>
<p>Teste, essa tela irá ser mudada depois</p> 
<ul>
  
  <li><a routerLink="/validation">validacao de cpf do aluno</a></li>
  <li><a routerLink="/forms">Formulario de cadastro</a></li>
  <li><a routerLink="/home-funcionario">Tela Acesso Funcionario</a></li>
  <li><a routerLink="/home">Tela Inicial</a></li>
  <li><a routerLink="/edital">Tela Cadastro edital</a></li>
  


  
</ul>

<p>lembrar: auto indentar é shift + alt + f</p>
<p>npm run start</p>
<p> generatedata.com</p>


 