<form (ngSubmit)="onSubmit()"> 
    <h2>Importar planilha de classificados</h2>
    <h4>Iniciar processo de matrícula</h4>
    <div>
        <label for="edital">Selecione o Edital</label>

        <select class="form-group" [(ngModel)]="selectedEdital" [ngModelOptions]="{standalone:true}" name="edital">
            <option *ngFor="let item of opcoes" [value]="item.id_edital">
                <!-- {{ item.numero }} -->
                {{ item.numero }}/{{ item.ano }}
            </option>
        </select>

    </div>

    <div class="form-group">
        <label for="quantidade">Quantidade de Vagas</label>
        <input type="number" id="quantidade" placeholder="quantidade" [(ngModel)]="quantidadeVagas" [ngModelOptions]="{standalone:true}">
    </div>

    <div class="form-group" >
        <label for="file">Planilha de Classificação</label>
        <input type="file" id="file" placeholder="file" (change)="onFileChange($event)" required>
    </div>

    <button type="submit" id="cadastrar">Salvar</button>

</form>