<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>


<body>

    <h2>Editais</h2>
    <div>
        <button routerLink="/home/edital" type="button" class="btn btn-success" id="novo">Novo Edital</button>
    </div>


    <div class="grid-table">
        <div class="grid-header">
            <div class="grid-cell">#</div>
            <div class="grid-cell">Número</div>
            <div class="grid-cell">Ano</div>
            <div class="grid-cell">Descrição</div>
            <div class="grid-cell">Ações</div>
        </div>
        <div class="grid-row" *ngFor="let edital of editais ">
            <div class="grid-cell">{{ edital.id_edital }}</div>
            <div class="grid-cell">{{ edital.numero }}</div>
            <div class="grid-cell">{{ edital.ano }}</div>
            <div class="grid-cell">{{ edital.descricao }}</div>
            <div class="grid-cell grid-actions">
                <button class="btt" (click)="getEditalById(edital.id_edital)"><span class="material-symbols-outlined">
                        edit </span></button>
                <button class="btt" (click)="deletarEdital(edital.id_edital)"><span class="material-symbols-outlined">
                        delete </span></button>
            </div>
        </div>
    </div>







