form{
    margin-right: 30%;
    margin-left: 30%;

}

label {
    font-weight: bold;
    
}

.form-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

#avaliador{
    margin-left: 10px;
}

#cadastrar {
    width: 100%;
    background-color: rgb(197, 187, 187);
}

h2{
    justify-content: center;
    text-align: center;
}

#message{
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
